.select-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 10px auto;
}

.select-area,
.select-restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-area label,
.select-restaurant label {
    margin-bottom: 5px;
    font-weight: bold;
}

.select-area-dropdown,
.select-restaurant-dropdown {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.restaurant-book-now-button {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #e5383b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restaurant-card:hover .restaurant-book-now-button {
    display: block;
}

.restaurant-book-now-button:hover {
    background-color: #ba181b;
}

#animation {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}