/* Media Queries for Smaller Screens */

@media (max-width: 768px) {
    .banquet-section {
        padding: 20px;
        gap: 20px;
        width: 90%;
    }

    .banquet-title {
        font-size: 1.5rem;
    }

    .view-all-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .banquet-container {
        gap: 20px;
    }

    .banquet-card {
        width: 450px;
    }

    .banquet-image {
        height: 150px;
    }

    .banquet-name {
        font-size: 1.2rem;
    }

    .banquet-location,
    .banquet-capacity,
    .banquet-ratings {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .banquet-section {
        padding: 20px;
        gap: 30px;
        margin: 20px auto;
        width: 95%;
        background-color: white;
    }

    .banquet-title {
        font-size: 1.7rem;
    }

    .view-all-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }

    .banquet-container {
        gap: 30px;
    }

    .banquet-card {
        width: 350px;
    }

    .banquet-image {
        height: 200px;
    }

    .banquet-name {
        font-size: 1.2rem;
    }

    .banquet-location,
    .banquet-capacity,
    .banquet-ratings {
        font-size: 0.8rem;
        margin: 10px auto;
    }
}