@media (max-width: 768px) {
    .banquet-section {
        margin: 0 auto;
        gap: 20px;
        width: 90%;
        background-color: white;
    }

    .banquet-header {
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .banquet-title {
        font-size: 1.5rem;
        color: black;
    }

    .view-all-button {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .banquet-container {
        gap: 20px;
    }

    .banquet-card {
        width: 450px;
        height: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid rgb(222, 220, 220);
    }

    .banquet-image {
        height: 250px;
    }

    .banquet-name {
        font-size: 1.2rem;
    }

    .banquet-location,
    .banquet-capacity,
    .banquet-ratings {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .banquet-section {
        padding: 20px;
        gap: 30px;
        margin: 20px auto;
        width: 95%;
    }

    .banquet-header {
        justify-content: space-between;
    }

    .banquet-title {
        font-size: 1.7rem;
    }

    .view-all-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }

    .banquet-container {
        gap: 30px;
    }

    .banquet-card {
        width: 350px;
    }

    .banquet-image {
        height: 200px;
    }

    .banquet-name {
        font-size: 1.4rem;
    }

    .banquet-location,
    .banquet-capacity,
    .banquet-ratings {
        font-size: 1rem;
        margin: 15px auto;
    }
}