* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer-section {
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.footer-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.footer-content-left > h1 {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(50deg, #0d00ff, #8d03bb, #af217a, #bf3939);
    -webkit-background-clip: text;
    color: transparent;
}

.footer-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.footer-content-center ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.footer-content-center ul li {
    cursor: pointer;
}

.footer-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.footer-content-right .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}