.banquet-booking-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    padding: 10px;
}

.banquet-booking-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.banquet-booking-modal-container>h2 {
    margin: 10px auto;
}

.book-ban {
    color: #7209b7;
}

.banquet-booking-options {
    margin-bottom: 30px;
}

.banquet-booking-options label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.banquet-booking-options input[type="radio"] {
    margin-right: 10px;
}

.banquet-booking-customer-details {
    margin: 15px auto;
}

.banquet-booking-customer-details input {
    width: calc(100% - 10px);
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.banquet-booking-days-selection,
.banquet-booking-date-selection {
    margin: 15px auto;
}

.banquet-booking-days-selection input,
.banquet-booking-date-selection input {
    width: calc(90% - 10px);
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.banquet-booking-total-charges {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

.banquet-booking-total-charges>p>span {
    color: #007bff;
}

.banquet-booking-confirm-button,
.banquet-booking-close-button {
    padding: 12px 24px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.banquet-booking-confirm-button {
    background-color: #007bff;
    color: white;
}

.banquet-booking-confirm-button:hover {
    background-color: #0056b3;
}

.banquet-booking-close-button {
    background-color: #f44336;
    color: white;
}

.banquet-booking-close-button:hover {
    background-color: #e53935;
}


@media (max-width: 768px) {
    .banquet-booking-modal-container {
        width: 80%;
        padding: 20px;
    }

    .banquet-booking-modal-container>h2 {
        font-size: 1.5em;
    }

    .banquet-booking-customer-details input,
    .banquet-booking-days-selection input,
    .banquet-booking-date-selection input {
        width: calc(95% - 10px);
    }
}


@media (max-width: 480px) {
    .banquet-booking-modal-container {
        width: 90%;
        padding: 20px;
        margin: 10px auto;
        border-radius: 20px;
    }

    .banquet-booking-modal-container>h2 {
        font-size: 1.5rem;
    }

    .banquet-booking-customer-details input,
    .banquet-booking-days-selection input,
    .banquet-booking-date-selection input {
        width: calc(100% - 10px);
    }
}